BDMDP=GENERER_AVEC_LE_SCRIPT
BDNOM=historykanban
BDUTILISATEUR=historykanban
IPRESEAU=127.0.0.1
KEYCLOAKADMIN=admin
KEYCLOAKADMINMDP=GENERER_AVEC_LE_SCRIPT
MINIOCLE=GENERER_AVEC_LE_SCRIPT
MINIOSECRET=GENERER_AVEC_LE_SCRIPT
RABBITUTILISATEUR=historykanban
RABBITMDP=GENERER_AVEC_LE_SCRIPT
SAUVEGARDEINTERVALLE=86400
SAUVEGARDERETENTION=14
JENKINSURL=http://jenkins:8080
JENKINSJOB=historykanban
JENKINSADMIN=admin
JENKINSADMINMDP=GENERER_AVEC_LE_SCRIPT
JENKINSUTILISATEUR=admin
JENKINSJETON=GENERER_AVEC_LE_SCRIPT
JENKINSGITURL=https://github.com/Rayanlaffi1/HistoryKanban.git
JENKINSBRANCHE=main
GITHUBDEPOT=Rayanlaffi1/HistoryKanban
VERSIONAPPLICATION=dev
