BDMDP=GENERER_AVEC_LE_SCRIPT
BDNOM=historykanban
BDUTILISATEUR=historykanban
KEYCLOAKADMIN=admin
KEYCLOAKADMINMDP=GENERER_AVEC_LE_SCRIPT
MINIOCLE=GENERER_AVEC_LE_SCRIPT
MINIOSECRET=GENERER_AVEC_LE_SCRIPT
RABBITUTILISATEUR=historykanban
RABBITMDP=GENERER_AVEC_LE_SCRIPT
SAUVEGARDEINTERVALLE=86400
SAUVEGARDERETENTION=14
