@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-100 text-neutral-900 antialiased dark:bg-neutral-950 dark:text-neutral-100;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-300 dark:bg-neutral-700;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.fantome {
  @apply opacity-40;
}
